html,body{
    height:100%;
    margin:0;

    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}


.tictactoe
{
 
    margin-bottom: 50px;
    width:500px;
    height:435px;
    border:1px solid rgb(30, 33, 214);
    background: yellow;    
    border-radius: 15px;
    display:flex;
    justify-content: space-around;
    align-content: space-around;

    display:grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    gap: 42px;
    


}

.cell1
{
    width:100px;
    height:100px;
}

h1
{
    color: rgb(156, 238, 183);
}